{{define "content"}}
<div>
	<nav>	
		<a href="/">Jake Warren</a> |
		<a href="/">Blog</a> |
		<a href="/">RSS</a>
	</nav>

	<p>Hi, I'm Jake Warren. I'm a full stack web devloper, mobile designer and hardware junky.</p>
	
	<p>I generally work with Go, DigitalOcean, Git and Linux. I don't enjoy using large frameworks to style a webpage. iOS is my main mobile platform. It's fun to design and quickly rewarding.</p>
	
	<p>If you'd like to discuss something or need any advice, please shoot me an email. I'm pretty friendly.</p>
	
	<p>Online</p>
	<ul>
		<li><a href="/">Twitter</a></li>
		<li><a href="//github.com/astub">Github</a></li>
		<li><a href="/">jakemail8@hotmail.com</a></li>
	</ul>

	<p>Recent Blog Post</p>
	<ul>

	</ul>

</div>
{{end}}
